.main {
  position: relative;
}

h1, h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.3vw;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

.sugerido {
  background-color: #A1DBC6;
  border-radius: 0.5vw;
  padding: 0.2vw 0.8vw;
  margin-left: 1vw;
  font-size: 0.5vw;
}
/* ------------- */

.label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 1.5vw;
    margin-right: 1.5vw;
    font-size: 0.8vw;
    width: 100%;
}

input[type=radio] {
  display: none;
}

.greeen {
  color: #219653;
  background-color: #DCEFDB;
  padding: 1vw 2vw;
  text-align: center;
  width: 30vw;
}

.label:before {
  content: "";
    display: inline-block;
    width: 1vw;
    height: 1vw;
    border-radius:50%;
    margin-right: 1vw;
    position: absolute;
    left: 0;
    background-color: #5EDD2D;
}

input[type=radio]:checked + .label:before {
  content: "\2713";
  color: white;
  font-size: 1vw;
  font-weight: 800;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerPay {
  background-color: #F5F5F5;
  border-bottom:0.1vw solid #5EDD2D;
  padding: 0.5vw 0.3vw;
}

.containerPayGreen {
  background-color: #DCEFDB;
  border-left: 0.2vw solid #5EDD2D;
}

/* ---------------- */
p {
  font-size: 1vw;
}

main {
  top: 5vw;
  padding: 8vw;
  display: flex;
  justify-content: space-around;

}

.display {
  display: flex;
}

.justifyContent {
  justify-content: space-between;
}

.space {
  margin-bottom: 2vw;
}

.section {
  width: 30vw;
}

.border {
  border: 0.1vw solid #ADADAD;
  border-radius: 0.5vw;
  padding: 2vw;
  width: 30vw;
}

.aling {
  align-items: center;
}

.wid {
  width: 13vw;
}

.fonsizeTitle {
  font-size: 1vw;
}

.marlef {
  margin-left: 0.5vw;
}

.fonsize {
  font-size: 0.7vw;
}

.widImg {
  height: 1.2vw;
  width: 1.2vw;
}

.widImgTwo {
  height: 2vw;
  width: 2vw;
}

.priceResumeBorder {
  border: 0.1vw solid #5EDD2D;
  width: 12vw;
}

.widthValue {
  padding: 0 1vw;
  width: 100%;
}

.bakcgroundBRL {
  background-color: #DCEFDB;
  color: #5EDD2D;
  padding: 0.2vw 0.8vw;
  font-weight: 800;
}

.green {
  background-color: #5EDD2D;
}

.blue {
  color: blue;
}

.btnReq {
  background-color: #5EDD2D;
  border: none;
  border-radius: 2vw;
  color: white;
  padding: 0.3vw 2vw;
  font-size: 0.9vw;
}